# Dependencies
node_modules/

# Build outputs
dist/
coverage/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Cache / temp
.turbo/
.cache/
.tsbuildinfo

# OS / Editor
.DS_Store
.idea/

